 
{%extends 'layout.html' %}

{% block title %} {{title}} {% endblock %} 

    {% block content %}
        <h6> {{message}} </h6>

        <p id="result" class="mt-4">Press button to calculate the operation</p>

    
      <label class="form-label fst-italic">First: </label> 
      <input id="first" type="text" class="form-control form-control-sm w-25" maxlength="5" placeholder="Enter a number" /> 
      <label class="form-label fst-italic">Second: </label>
      <input id="second" type="text" class="form-control form-control-sm  w-25" maxlength="5" placeholder="Enter a number" /> 
    
        
        <!-- Dropdown fill out from the Model-->
        <select id="cboOperation" class="form-select form-select-sm w-25  mt-4 float-start">
            {% for op in operations %}
            <option value="{{op.oper}}">{{op.description}}</option>
            {% endfor %}
        </select>

        <!-- Request operation via AJAX call -->
        <button id="btn" class="btn btn-primary btn-sm mt-4 mx-1">Calculate</button>
        {% load static  %}
        <img id="imgLoader" src="{% static 'image/circles-menu-1.gif' %}">
                 
        <span id="csrfToken" class="securityToken">{{ csrf_token }}</span>
        
        
        {% endblock %}

    {% block scripts %} 
       {% load static  %}
       <script src="{% static 'js/index-constants.js' %}"></script>
       <script src="{% static 'js/index.js' %}"></script>
    {% endblock %}
    
 