 
{%extends 'layout.html' %}

{% block title %} {{title}} {% endblock %} 

    {% block content %}
        <h3> {{message}} </h3>

        <p id="result">Press button to calculate the operation</p>

        <table>
            <tr>
                <td class="literals"><label> First:</label></td>
                <td><input id="first" type="text" maxlength="5" placeholder="Enter a number" /></td>
            </tr>
            <tr>
                <td class="literals"><label>Second:</label></td>
                <td><input id="second" type="text" maxlength="5" placeholder="Enter a number" /></td>
            </tr>
        </table>
        
        <!-- Dropdown fill out from the Model-->
        <select id="cboOperation">
            {% for op in operations %}
            <option value="{{op.oper}}">{{op.description}}</option>
            {% endfor %}
        </select>

        <!-- Request operation via AJAX call -->
        <button id="btn">Calculate</button>
        {% load static  %}
        <img id="imgLoader" src="{% static 'image/circles-menu-1.gif' %}">
                     
        <span id="csrfToken" class="securityToken">{{ csrf_token }}</span>
        
        
        {% endblock %}

    {% block scripts %} 
       {% load static  %}
       <script src="{% static 'js/index-constants.js' %}"></script>
       <script src="{% static 'js/index.js' %}"></script>
    {% endblock %}
    
 