/* #result {
    font-style: italic;
} */
.securityToken {
    display: none;
}
/* 
body {
    background-color: whitesmoke;
} */

img {
    position: relative;
    top: 10px;
    width: 32px;
    height: 32px;
}

button,input,select:hover  {
    cursor:pointer;
}
